################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestCoreWebAPI/.vs/TestCoreWebAPI/v16
/TestCoreWebAPI/TestCoreWebAPI/bin/Debug/netcoreapp3.1
/TestCoreWebAPI/TestCoreWebAPI/obj
